.ball {
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: 5;
    position: relative;
    top: 300px;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
  }
  
  @keyframes bounce {
    0%{top: 300px;}
    50%{top: 0px;}
    100%{top: 300px;}
  }

  .balll {
    transition-property: background;
    transition-duration: 2s;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    float: right;
  }
  
  .balll:hover {
    background: blue;
  }