body {
    background-color: lightblue; 
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    'header header'
    'main aside'
    'footer footer'
   }

header, main, aside, footer {
    background: rgb(214, 129, 129);
    text-align: center;
    border-radius: 20px;
}
header {grid-area: header;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

.form {
display: block;
text-align: center;
} 

form {
display: inline-block;
margin-left: auto;
margin-right: auto;
text-align: left;
    } 

