body {
    background-image: url(images/throw_inktober_dag9.jpg);
}  
.ball {
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: 5;
    position: relative;
    top: 300px;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
  }
  
  @keyframes bounce {
    0%{top: 300px;}
    50%{top: 0px;}
    100%{top: 300px;}
  }

  .balll {
    transition-property: background,width,height;
    transition-delay: 0s,2s,4s,0s;
    transition-duration: 2s;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    float: right;
  }
  
  .balll:hover {
    background: blue;
    width: 100px;
    height: 100px;
  }

  .kant {
      animation-name: moving;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      height: 70px;
      width: 70px;
      position: relative;
      background: blueviolet;
      left: 0px;
      top: 0px;

}
@keyframes moving {
  0%{left: 0px;}
  0%{top: 0px;}  
  25%{left: 700px;} 
  25%{top: 0px;} 
  50%{left: 700px;} 
  50%{top: 400px;} 
  100%{left: 700px;} 
  100%{top: 400px;} 
}   